<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1076},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1283},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1115},{26,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>BlueLightLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{455,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,96}}</string>
                <key>sourceSize</key>
                <string>{455,96}</string>
            </dict>
            <key>BluePlayerHeadImageBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1571},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Drag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,459},{59,395}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,395}}</string>
                <key>sourceSize</key>
                <string>{65,401}</string>
            </dict>
            <key>Drag2BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,490},{99,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,448}}</string>
                <key>sourceSize</key>
                <string>{99,448}</string>
            </dict>
            <key>GunSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,424},{20,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,385}}</string>
                <key>sourceSize</key>
                <string>{20,385}</string>
            </dict>
            <key>GunSliderBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{68,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,420}}</string>
                <key>sourceSize</key>
                <string>{68,420}</string>
            </dict>
            <key>GunSliderBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{68,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,420}}</string>
                <key>sourceSize</key>
                <string>{68,420}</string>
            </dict>
            <key>GunSliderBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1110},{56,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,408}}</string>
                <key>sourceSize</key>
                <string>{56,408}</string>
            </dict>
            <key>Rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,811},{302,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,12}}</string>
                <key>sourceSize</key>
                <string>{302,12}</string>
            </dict>
            <key>Rectangle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,424},{302,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,12}}</string>
                <key>sourceSize</key>
                <string>{302,12}</string>
            </dict>
            <key>Rectangle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,811},{214,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,8}}</string>
                <key>sourceSize</key>
                <string>{214,8}</string>
            </dict>
            <key>RedPlayerHeadImageBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1567},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>TipBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{486,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,44},{486,68}}</string>
                <key>sourceSize</key>
                <string>{490,156}</string>
            </dict>
            <key>TopBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1701,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1701,115}}</string>
                <key>sourceSize</key>
                <string>{1701,115}</string>
            </dict>
            <key>ball1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1042},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1658},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball11.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1249},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball12.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1283},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball13.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1008},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball14.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1624},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball15.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1658},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1249},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1283},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,974},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1520},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1624},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball7.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1249},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball8.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,940},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ball9.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,424},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ballLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,854},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>bar-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{1106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1106,96}}</string>
                <key>sourceSize</key>
                <string>{1106,96}</string>
            </dict>
            <key>bar-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{1106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1106,96}}</string>
                <key>sourceSize</key>
                <string>{1106,96}</string>
            </dict>
            <key>blueHeadLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1571},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>blueLightRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{455,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,96}}</string>
                <key>sourceSize</key>
                <string>{455,96}</string>
            </dict>
            <key>combo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1453},{393,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{393,116}}</string>
                <key>sourceSize</key>
                <string>{395,154}</string>
            </dict>
            <key>combo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1335},{393,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{393,116}}</string>
                <key>sourceSize</key>
                <string>{395,154}</string>
            </dict>
            <key>combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,856},{393,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{393,116}}</string>
                <key>sourceSize</key>
                <string>{395,154}</string>
            </dict>
            <key>combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,854},{393,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{393,116}}</string>
                <key>sourceSize</key>
                <string>{395,154}</string>
            </dict>
            <key>combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,940},{393,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{393,116}}</string>
                <key>sourceSize</key>
                <string>{395,154}</string>
            </dict>
            <key>combo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,459},{393,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{393,116}}</string>
                <key>sourceSize</key>
                <string>{395,154}</string>
            </dict>
            <key>combo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,459},{393,116}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{393,116}}</string>
                <key>sourceSize</key>
                <string>{395,154}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1571},{115,108}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{115,108}}</string>
                <key>sourceSize</key>
                <string>{131,150}</string>
            </dict>
            <key>redHeadLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1571},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>redLightLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{455,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,96}}</string>
                <key>sourceSize</key>
                <string>{455,96}</string>
            </dict>
            <key>redLightRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1110},{455,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,96}}</string>
                <key>sourceSize</key>
                <string>{455,96}</string>
            </dict>
            <key>toast.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1110},{512,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{512,84}}</string>
                <key>sourceSize</key>
                <string>{516,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSceneUI.png</string>
            <key>size</key>
            <string>{756,1705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0063a8e6ebfc584b17580241842dd273:1/1$</string>
            <key>textureFileName</key>
            <string>GameSceneUI.png</string>
        </dict>
    </dict>
</plist>
